@import '../../styles/global.scss';

footer {
    padding: 1.5%;
    background: $footerLinearGrad;
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;
    p {
        flex: 7;
        position:relative;
        top: 2vh;
        font-family: $secondaryFont;
        font-size: 1vw;
        font-weight: bold;
    }
    article {
        flex: 1;
        display:flex;
        flex-flow: row wrap;
        justify-content: space-around;
        position:relative;
        top: 1vh;
        a{
            color: #f0f0f0;
            transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
            &:first-of-type{
                &:hover{
                    color: #6441a5;
                }
            }
            &:nth-of-type(2){
                &:hover{
                    color: #000;
                }
            }
            &:last-of-type{
                &:hover{
                    color: #0077b5;
                }
            }
            i {
                font-size: 1.5vw;
                
            }
        }
    }
}