<footer>
    <p>Eric Díaz, &copy; 2022</p>
    <article>
        <a href="https://www.twitch.tv/edyconnor" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-twitch"></i></a>
        <a href="https://github.com/EricDiCiv5" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
        <a href="https://www.linkedin.com/in/ericd%C3%ADazc%C3%ADvico/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
    </article>
</footer>
