@import '../../styles/global.scss';

header {
    padding: 1.5%;
    background: $headerLinearGrad;
    figure {
        display:block;
        margin: 0 auto;
        width: 70%;
        &:first-of-type{
            margin-bottom: 8vh;
        }
        &:last-of-type{
            margin: 1.5vh auto;
            width: 20%;
        }
        img{
            margin: auto;
            width: 100%;
        }
    }
    h1 {
        margin: 3vh auto;
        text-align:center;
        font-family: $secondaryFont;
        font-size: 2vw;
    }
}