@import '../../styles/global.scss';

header {
    padding: 1.5%;
    background: $headerLinearGrad;
    figure {
        display:block;
        margin: 0 auto;
        width: 70%;
        &:first-of-type{
            margin-bottom: 8vh;
        }
        &:last-of-type{
            margin: 1.5vh auto;
            width: 20%;
        }
        img{
            margin: auto;
            width: 100%;
        }
    }
}

@media screen and (max-width: 800px) {
    header {
        figure {
            width: 75%;
            &:first-of-type{
                margin-top: 2vh;
                margin-bottom: 5vh;
            }
            &:last-of-type{
                width: 25%;
            }
        }
    }
}

@media screen and (max-width: 420px) {
    header {
        figure {
            width: 80%;
            &:first-of-type{
                margin-top: 2vh;
                margin-bottom: 5vh;
            }
            &:last-of-type{
                width: 30%;
            }
        }
    }
}