@import '../../styles/global.scss';

.attack-form{
    background: $attackFormBkgColor;
    .mat-card-header{
        padding: 3%;
        text-align: center;
        margin:auto;
        .mat-card-title{
            font-family: 'Julius Sans One';
            color: #b9a3a3;
            text-align: center;
            position: relative;
            top: -4vh;
            left: 30vw;
            font-size: 2vw;
            font-weight: bold; 
        }
    }
    .mat-card-content{
        background-color: rgba(171, 171, 171, 0.75);
        border-radius: 25px;
        width: 33%;
        margin: 0 auto;
        position:relative;
        top: -7vh;
        #form-attacks{
            display:flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            .mat-form-field{
                width: 66%;
                .mat-label{
                    font-size: 1.2vw;
                    font-family: $primaryFont;
                }
                .mat-select{
                    border: 1px solid #6441a5;
                    border-radius: 20px;
                    padding: 1%;
                    width: 100%;
                    .mat-option {
                        color: #fff;
                        background-color: #ee1515;
                    }
                }
                
            }
            .mat-checkbox{
                font-family: $secondaryFont;
                font-size: 1.33vw;
            }
            .mat-raised-button{
                background-color: #b9a3a3;
                color:#6441a5;
                box-shadow: 0px 0px 5px #000;
                margin: 2vh 0;
                &:hover {
                    padding: 1.5% 6%;
                    border-radius: 33px;
                    font-size: 1.33vw;
                    background-color: #ee1515;
                    color:#000;
                    box-shadow: 0px 0px 5px #f0f0f0;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .attack-form{
        .mat-card-header{
            padding: 3%;
            .mat-card-title{
                top: -2vh;
                left: 22vw;
                font-size: 3vw;
            }
        }
        .mat-card-content{
            width: 33%;
            margin: 0 auto;
            position:relative;
            top: -3.5vh;
            #form-attacks{
                .mat-form-field{
                    width: 75%;
                    .mat-label{
                        font-size: 1.1vw;
                        font-family: $primaryFont;
                    }
                    .mat-select{
                        width: 100%;
                    }
                    .mat-checkbox{
                        font-family: $secondaryFont;
                        font-size: 1.5vw;
                    }
                }
                .mat-raised-button{
                    margin: 2.5vh 0;
                    &:hover {
                        padding: 2% 7%;
                        font-size: 1.75vw;
                    }
                } 
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .attack-form{
        .mat-card-header{
            padding: 4%;
            .mat-card-title{
                top: -1vh;
                left: 11.5vw;
                font-size: 4vw;
            }
        }
        .mat-card-content{
            width: 60%;
            position:relative;
            top: -2vh;
            #form-attacks{
                .mat-form-field{
                    .mat-label{
                        font-size: 1.5vw;
                        font-family: $primaryFont;
                    }
                    .mat-checkbox{
                        font-family: $secondaryFont;
                        font-size: 2.5vw;
                    }
                }
                .mat-raised-button{
                    margin: 2.5vh 0; 
                    &:hover {
                        padding: 2% 7%;
                        font-size: 3.5vw;
                    }
                } 
            }
        }
    }
}