<div>
  <mat-card class="attack-form">
    <mat-card-header id="attacks">
      <mat-card-title class="h4">Random Attack Generator</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form id="form-attacks" [formGroup]="attacksForm">
        <mat-form-field appearance="standard">
          <mat-label>Selecciona un entrenador</mat-label>
          <mat-select matNativeControl formControlName="trainerName" >
            <mat-option *ngFor="let trainer of trainers" [value]="trainer.fullName">
              {{trainer.fullName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Selecciona un pokemon</mat-label>
          <mat-select matNativeControl formControlName="pokemonName" #matSelect>
            <mat-option *ngFor="let pokemon of pokemons" [value]="pokemon.name">
              {{pokemon.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox [checked]="rage == true" formControlName="lifeUnderFifty">Click if life is under 50%</mat-checkbox>
      </form>
    </mat-card-content>
    <div class="randomAttack">
      <h2>Attack generated</h2>
      <p>{{ selectedAttack }} </p>
    </div>
  </mat-card>
</div>
